@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  @include m.container;
  padding: v.$space-5 v.$space-3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: v.$tablet) {
    flex-direction: column;
    padding: v.$space-3;
    gap: v.$space-4;
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: v.$space-1;

    a {
      display: block;
      padding: v.$space-2 v.$space-3;
      font-size: clamp(v.$font-14, 1.25rem + 0.45vw, v.$font-18);
      line-height: v.$lh-none;

      @media (max-width: v.$tablet) {
        background: v.$gray-100;
        border: 2px solid v.$gray-200;
        border-radius: v.$radius-xs;
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 1;
      }
    }
  }
}
