@use "../base/variables" as v;

.header {
  max-width: v.$container;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: v.$space-5 v.$space-3;

  @media (max-width: v.$tablet) {
    flex-direction: column;
    padding: v.$space-3;
    gap: v.$space-4;
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: v.$space-1;

    a {
      display: block;
      padding: v.$space-1 v.$space-2;
      font-size: v.$font-18;

      @media (max-width: v.$tablet) {
        background: v.$gray-100;
        border-radius: v.$radius-xs;
        width: 150px;
        text-align: center;
      }
    }
  }
}
